<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Staff Filter App</title>
  </head>
  <body>
    <h1>Staff Filter App</h1>

    <h2>Aufgaben:</h2>
    <ol>
      <li>Zeige hier im Template eine Liste aller Mitarbeiter, ihrer Abteilung und ihres Gehalts an.</li>
      <li>Zeige eine Liste der Namen aller Mitarbeiter, die mehr als 3000 € im Monat verdienen.</li>
      <li>Wie hoch ist die Anzahl der Mitarbeiter, die 5000 € im Monat oder mehr verdienen?</li>
    </ol>
    <h3>Zusatzaufgaben:</h3>
    <ol start="4">
      <li>Wie hoch ist das Durchschnittsgehalt aller Mitarbeiter im Sales-Team? Zeige das Ergebnis auf zwei Nachkommastellen gerundet an.</li>
      <li>Welche Mitarbeiter wurden vor dem 1. Januar 2022 eingestellt und gehören NICHT zur Abteilung HR?</li>
    </ol>

    <h2 style="color: red">Antworten:</h2>
    <h3>Aufgabe 1</h3>

    <ul>
      {% for employee in employees %}
      <li>{{ employee.name }} - {{ employee.department.name }} - {{ employee.salary }} €</li>
      {% endfor %}
    </ul>
    <h3>Aufgabe 2</h3>

    <ul>
      {% for employee in high_earners %}
      <li>{{ employee.name }}</li>
      {% endfor %}
    </ul>
    <h3>Aufgabe 3</h3>

    <p>{{ employees_5000 }}</p>
  </body>
</html>
